USE [master]
GO
/****** Object:  Database [CineMatch]    Script Date: 22/04/2026 11:14:31 pm ******/
CREATE DATABASE [CineMatch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineMatch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CineMatch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineMatch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CineMatch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineMatch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineMatch]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[TMDB_ID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[OriginalTitle] [nvarchar](200) NULL,
	[ReleaseYear] [int] NULL,
	[Runtime] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[PosterURL] [nvarchar](500) NULL,
	[BackdropURL] [nvarchar](500) NULL,
	[TrailerURL] [nvarchar](500) NULL,
	[Director] [nvarchar](100) NULL,
	[Cast] [nvarchar](max) NULL,
	[AverageRating] [decimal](3, 2) NULL,
	[TotalRatings] [int] NULL,
	[IsApproved] [bit] NULL,
	[AddedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TMDB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieGenreID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MovieGenre] UNIQUE NONCLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StreamingPlatforms]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreamingPlatforms](
	[PlatformID] [int] IDENTITY(1,1) NOT NULL,
	[PlatformName] [nvarchar](50) NOT NULL,
	[LogoURL] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PlatformName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoviePlatforms]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviePlatforms](
	[MoviePlatformID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[PlatformID] [int] NOT NULL,
	[AvailableFrom] [datetime] NULL,
	[AvailableUntil] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MoviePlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MoviePlatform] UNIQUE NONCLUSTERED 
(
	[MovieID] ASC,
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_MoviesComplete]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEWS
-- View: Movies Complete
CREATE   VIEW [dbo].[VW_MoviesComplete] AS
SELECT 
    m.MovieID,
    m.Title,
    m.ReleaseYear,
    m.Runtime,
    m.Director,
    m.AverageRating,
    m.TotalRatings,
    STUFF((SELECT ', ' + g.GenreName
           FROM MovieGenres mg2
           JOIN Genres g ON mg2.GenreID = g.GenreID
           WHERE mg2.MovieID = m.MovieID
           ORDER BY g.GenreName
           FOR XML PATH('')), 1, 2, '') AS Genres,
    STUFF((SELECT ', ' + sp.PlatformName
           FROM MoviePlatforms mp2
           JOIN StreamingPlatforms sp ON mp2.PlatformID = sp.PlatformID
           WHERE mp2.MovieID = m.MovieID
           ORDER BY sp.PlatformName
           FOR XML PATH('')), 1, 2, '') AS AvailableOn
FROM Movies m;
GO
/****** Object:  Table [dbo].[CollaborativeSessions]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollaborativeSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[User1ID] [int] NOT NULL,
	[User2ID] [int] NOT NULL,
	[CompatibilityScore] [decimal](5, 2) NULL,
	[SharedGenres] [nvarchar](max) NULL,
	[TopRecommendationMovieID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityAwards]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityAwards](
	[AwardID] [int] IDENTITY(1,1) NOT NULL,
	[AwardMonth] [date] NOT NULL,
	[AwardCategory] [nvarchar](100) NOT NULL,
	[WinnerUserID] [int] NULL,
	[WinnerMovieID] [int] NULL,
	[WinnerGenreID] [int] NULL,
	[AwardValue] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AwardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[RatingValue] [decimal](2, 1) NOT NULL,
	[RatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserMovieRating] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[RatingID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[ReviewText] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NULL,
	[LikesCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserMovieReview] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPreferences]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferences](
	[PreferenceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ExcludedGenres] [nvarchar](max) NULL,
	[NotificationsEnabled] [bit] NULL,
	[Theme] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserPreference] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[ProfilePicture] [nvarchar](255) NULL,
	[Bio] [nvarchar](500) NULL,
	[Location] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[WatchlistPublic] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watchlist]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watchlist](
	[WatchlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
	[Priority] [int] NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[WatchlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserWatchlist] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieGenres_GenreID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_MovieGenres_GenreID] ON [dbo].[MovieGenres]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieGenres_MovieID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_MovieGenres_MovieID] ON [dbo].[MovieGenres]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movies_AverageRating]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Movies_AverageRating] ON [dbo].[Movies]
(
	[AverageRating] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movies_ReleaseYear]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Movies_ReleaseYear] ON [dbo].[Movies]
(
	[ReleaseYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Movies_Title]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Movies_Title] ON [dbo].[Movies]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_MovieID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_MovieID] ON [dbo].[Ratings]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_RatedAt]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_RatedAt] ON [dbo].[Ratings]
(
	[RatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_UserID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_UserID] ON [dbo].[Ratings]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_MovieID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_MovieID] ON [dbo].[Reviews]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Watchlist_UserID]    Script Date: 22/04/2026 11:14:32 pm ******/
CREATE NONCLUSTERED INDEX [IX_Watchlist_UserID] ON [dbo].[Watchlist]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CollaborativeSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CommunityAwards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0.0)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [TotalRatings]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Ratings] ADD  DEFAULT (getdate()) FOR [RatedAt]
GO
ALTER TABLE [dbo].[Ratings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [LikesCount]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserPreferences] ADD  DEFAULT ((1)) FOR [NotificationsEnabled]
GO
ALTER TABLE [dbo].[UserPreferences] ADD  DEFAULT ('Dark') FOR [Theme]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [WatchlistPublic]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Watchlist] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Watchlist] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[CollaborativeSessions]  WITH CHECK ADD FOREIGN KEY([TopRecommendationMovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[CollaborativeSessions]  WITH CHECK ADD FOREIGN KEY([User1ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CollaborativeSessions]  WITH CHECK ADD FOREIGN KEY([User2ID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CommunityAwards]  WITH CHECK ADD FOREIGN KEY([WinnerUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CommunityAwards]  WITH CHECK ADD FOREIGN KEY([WinnerMovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[CommunityAwards]  WITH CHECK ADD FOREIGN KEY([WinnerGenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MoviePlatforms]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MoviePlatforms]  WITH CHECK ADD FOREIGN KEY([PlatformID])
REFERENCES [dbo].[StreamingPlatforms] ([PlatformID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([AddedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([RatingID])
REFERENCES [dbo].[Ratings] ([RatingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserPreferences]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watchlist]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watchlist]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CollaborativeSessions]  WITH CHECK ADD  CONSTRAINT [CHK_CompatibilityScore] CHECK  (([CompatibilityScore]>=(0) AND [CompatibilityScore]<=(100)))
GO
ALTER TABLE [dbo].[CollaborativeSessions] CHECK CONSTRAINT [CHK_CompatibilityScore]
GO
ALTER TABLE [dbo].[CollaborativeSessions]  WITH CHECK ADD  CONSTRAINT [CHK_DifferentUsers] CHECK  (([User1ID]<>[User2ID]))
GO
ALTER TABLE [dbo].[CollaborativeSessions] CHECK CONSTRAINT [CHK_DifferentUsers]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CHK_AverageRating] CHECK  (([AverageRating]>=(0) AND [AverageRating]<=(5)))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CHK_AverageRating]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CHK_ReleaseYear] CHECK  (([ReleaseYear]>=(1888) AND [ReleaseYear]<=(2100)))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CHK_ReleaseYear]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [CHK_Runtime] CHECK  (([Runtime]>(0)))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [CHK_Runtime]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [CHK_RatingValue] CHECK  (([RatingValue]>=(1.0) AND [RatingValue]<=(5.0)))
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [CHK_RatingValue]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Email] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Email]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='User'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateCompatibility]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Calculate Compatibility
CREATE   PROCEDURE [dbo].[SP_CalculateCompatibility]
    @User1ID INT,
    @User2ID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @User1Genres TABLE (GenreID INT);
    DECLARE @User2Genres TABLE (GenreID INT);
    
    INSERT INTO @User1Genres
    SELECT DISTINCT mg.GenreID
    FROM Ratings r
    JOIN MovieGenres mg ON r.MovieID = mg.MovieID
    WHERE r.UserID = @User1ID AND r.RatingValue >= 4.0;
    
    INSERT INTO @User2Genres
    SELECT DISTINCT mg.GenreID
    FROM Ratings r
    JOIN MovieGenres mg ON r.MovieID = mg.MovieID
    WHERE r.UserID = @User2ID AND r.RatingValue >= 4.0;
    
    DECLARE @SharedCount INT;
    DECLARE @TotalCount INT;
    
    SELECT @SharedCount = COUNT(*)
    FROM @User1Genres u1
    INNER JOIN @User2Genres u2 ON u1.GenreID = u2.GenreID;
    
    SELECT @TotalCount = COUNT(DISTINCT GenreID)
    FROM (SELECT GenreID FROM @User1Genres UNION SELECT GenreID FROM @User2Genres) AS AllGenres;
    
    SELECT 
        u1.Username AS User1,
        u2.Username AS User2,
        CASE WHEN @TotalCount > 0 
            THEN CAST(@SharedCount * 100.0 / @TotalCount AS DECIMAL(5,2))
            ELSE 0 
        END AS CompatibilityScore
    FROM Users u1, Users u2
    WHERE u1.UserID = @User1ID AND u2.UserID = @User2ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTrendingMovies]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 4: Get Trending Movies
CREATE   PROCEDURE [dbo].[SP_GetTrendingMovies]
    @DaysBack INT = 7,
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopN)
        m.MovieID,
        m.Title,
        m.ReleaseYear,
        m.AverageRating,
        COUNT(DISTINCT r.UserID) AS RecentRatings,
        COUNT(DISTINCT w.UserID) AS RecentWatchlistAdds
    FROM Movies m
    LEFT JOIN Ratings r ON m.MovieID = r.MovieID 
        AND r.RatedAt >= DATEADD(DAY, -@DaysBack, GETDATE())
    LEFT JOIN Watchlist w ON m.MovieID = w.MovieID 
        AND w.AddedAt >= DATEADD(DAY, -@DaysBack, GETDATE())
    WHERE m.IsApproved = 1
    GROUP BY m.MovieID, m.Title, m.ReleaseYear, m.AverageRating
    HAVING COUNT(DISTINCT r.UserID) + COUNT(DISTINCT w.UserID) > 0
    ORDER BY COUNT(DISTINCT r.UserID) + COUNT(DISTINCT w.UserID) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserRecommendations]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURES
-- SP 1: Get User Recommendations
CREATE   PROCEDURE [dbo].[SP_GetUserRecommendations]
    @UserID INT,
    @TopN INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    WITH UserTopGenres AS (
        SELECT TOP 3 
            g.GenreID,
            g.GenreName,
            COUNT(*) AS RatingCount
        FROM Ratings r
        JOIN MovieGenres mg ON r.MovieID = mg.MovieID
        JOIN Genres g ON mg.GenreID = g.GenreID
        WHERE r.UserID = @UserID AND r.RatingValue >= 4.0
        GROUP BY g.GenreID, g.GenreName
        ORDER BY AVG(r.RatingValue) DESC, COUNT(*) DESC
    )
    SELECT TOP (@TopN)
        m.MovieID,
        m.Title,
        m.ReleaseYear,
        m.AverageRating,
        STUFF((SELECT ', ' + g2.GenreName
               FROM MovieGenres mg2
               JOIN Genres g2 ON mg2.GenreID = g2.GenreID
               WHERE mg2.MovieID = m.MovieID
               FOR XML PATH('')), 1, 2, '') AS Genres
    FROM Movies m
    JOIN MovieGenres mg ON m.MovieID = mg.MovieID
    JOIN UserTopGenres utg ON mg.GenreID = utg.GenreID
    WHERE m.MovieID NOT IN (SELECT MovieID FROM Ratings WHERE UserID = @UserID)
        AND m.IsApproved = 1
    GROUP BY m.MovieID, m.Title, m.ReleaseYear, m.AverageRating
    ORDER BY m.AverageRating DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserStats]    Script Date: 22/04/2026 11:14:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 3: Get User Stats
CREATE   PROCEDURE [dbo].[SP_GetUserStats]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.Username,
        COUNT(DISTINCT r.MovieID) AS TotalMoviesRated,
        ISNULL(AVG(r.RatingValue), 0) AS AverageRatingGiven,
        (SELECT TOP 1 g.GenreName 
         FROM Ratings r2
         JOIN MovieGenres mg ON r2.MovieID = mg.MovieID
         JOIN Genres g ON mg.GenreID = g.GenreID
         WHERE r2.UserID = @UserID
         GROUP BY g.GenreName
         ORDER BY COUNT(*) DESC) AS MostWatchedGenre,
        SUM(CASE WHEN r.RatingValue = 1.0 THEN 1 ELSE 0 END) AS OneStarCount,
        SUM(CASE WHEN r.RatingValue = 2.0 THEN 1 ELSE 0 END) AS TwoStarCount,
        SUM(CASE WHEN r.RatingValue = 3.0 THEN 1 ELSE 0 END) AS ThreeStarCount,
        SUM(CASE WHEN r.RatingValue = 4.0 THEN 1 ELSE 0 END) AS FourStarCount,
        SUM(CASE WHEN r.RatingValue = 5.0 THEN 1 ELSE 0 END) AS FiveStarCount
    FROM Users u
    LEFT JOIN Ratings r ON u.UserID = r.UserID
    WHERE u.UserID = @UserID
    GROUP BY u.Username, u.UserID;
END;
GO
USE [master]
GO
